.btn-group.special {
  display: flex;
}

.special .btn-flex {
  flex: 1;
}

.special .btn-drop-flex {
  flex: none;
}

.test * {
  border: 1px solid red;
}

.carousel-inner img {
  width: 50%;
  height: 50%;
}

@media (max-width: 768px) {
  .special .btn {
    font-size: 0.7rem;
  }

  .mountains {
    position: absolute;
    top: 105px;
    width: 100%;
    height: 40px;
    background-color: black;
    z-index: -2;
  }

  .navbar-bg {
    top: 145px;
    width: 100%;
    height: 60px;
    background-color: blue;
    z-index: -1;
  }
}

@media (min-width: 768px) {
  .special .btn {
    font-size: 1.5rem;
  }

  .mountains {
    position: absolute;
    top: -20px;
    width: 100%;
    height: 80px;
    background-color: black;
    z-index: -2;
  }

  .navbar-bg {

    top: 40px;
    width: 100%;
    height: 80px;
    background-color: blue;
    z-index: -1;
  }

  .main-content {
    top: -30px;
    z-index: -1;
  }
}

/* ------------------------- */

/* Marquee Code attempt here */

:root {
  --marqueeWidth: 100%;
  --marqueeHeight: 100px;
  --marqueeElementsDisplayed: 2;
  --marqueeElementsWidth: calc(var(--marqueeWidth) / var(--marqueeElementsDisplayed));
  --marqueeAnimationDuration: calc(var(--marqueeElements) * 30s);
}

.marquee {
  width: var(--marqueeWidth);
  height: var(--marqueeHeight);

  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.marquee-content {
  z-index: 10;
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marqueeAnimationDuration) linear infinite;
}

/* -10vw -170vw  40s */
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-1 * var(--marqueeElementWidth) * var(--marqueeElements)));
  }
}

.marquee-content li img {
  width: 100%;
  height: 110px;
  /* border: 2px solid #111; */

  transform: translateY(-20px);
}

.marquee-content li {
  display: flex;

  justify-content: center;
  align-items: center;

  width: var(--marqueeElementWidth);
  flex-shrink: 0;
  font-size: 5rem;
  white-space: nowrap;
}
